In [14]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns


compra_01 = pd.Series({'Nombrep': 'Homer','Artículo': 'Rosquillas','Precio': 3.70})
compra_02 =  pd.Series({'Nombre': 'Barney','Artículo': 'Cerveza duff','Precio': 6.00})
compra_03 =  pd.Series({'Nombre': 'Lenny','Artículo': 'Leche','Precio': 4.50})

df = pd.DataFrame([compra_01, compra_02, compra_03], index=['Tienda 01', 'Tienda 02', 'Tienda 03'])

df.head()

          Nombrep      Artículo  Precio  Nombre
Tienda 01   Homer    Rosquillas     3.7     NaN
Tienda 02     NaN  Cerveza duff     6.0  Barney
Tienda 03     NaN         Leche     4.5   Lenny

In [16]:
df['Nombrep']

Tienda 01    Homer
Tienda 02      NaN
Tienda 03      NaN
Name: Nombrep, dtype: object

<hr>
<b><font color='red'>Ejercicio 03</font></b>  

Crea un archivo llamado calendario.xlsx. Haz que tenga 12 hojas, llamadas
["enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre","octubre","noviembre","diciembre"]
con los siguientes días por hoja
[31,28,31,30,31,30,31,31,30,31,30,31]
haz que apareza un calendario de ese mes en cada hoja como creas conveniente, es decir:

    L M X J V S D
    1 2 3 4 5 6 7
    ....
    
    o
    
    1 2 3 4 5 6 ....31
    
    o
    
    1
    2
    3
    4
    .
    .

In [1]:
import pandas as pd
import numpy as np

writer = pd.ExcelWriter('calendario_2022.xlsx') #CON ESTO SE CREA EL EXCEL

df
# df = pd.read_excel('Sample - Superstore.xls')
df['a_new_col'] = np.random.rand()
df.to_excel('calendario_2022.xlsx')


# df.to_excel(writer, sheet_name="Enero", index=False)
# df.to_excel(writer, sheet_name="Febrero", index=False)
# writer.save()
# writer.close()


# lista=["enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre","octubre","noviembre","diciembre"]
# df = pd.read_excel('calendario_2021.xlsx',index_col=0)  #no lea la columna 0
# lista=["enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre","octubre","noviembre","diciembre"]
# df

NameError: name 'df' is not defined

In [20]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ["a", "b"])
df

   a  b
0  1  2
1  3  4

In [17]:
#AÑADIR HOJAS AL EXCEL
import numpy as np
import pandas as pd
from seaborn import load_dataset

lista1=["enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre","octubre","noviembre","diciembre"]
lista2=[31,28,31,30,31,30,31,31,30,31,30,31]

# array = np.full(12,1)
# df = pd.DataFrame(
#     [array],
#     columns=["enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre","octubre","noviembre","diciembre"]
# )
# array1 = np.arange(start=1, stop=32) #1-31
# df = pd.DataFrame(
#     [array1],
#     columns=array1)
# array2 = np.arange(start=1, stop=29) #1-28
# df2 = pd.DataFrame(
#     [array2],
#     columns=array2)


writer = pd.ExcelWriter('archivoEj.xlsx') 
#-----------------------------------
for i in range(12): 
    array1 = np.arange(start=1, stop=lista2[i]+1) #1-31 #PRIMERO CREO EL ARRAY
    df = pd.DataFrame(
        [array1],
        columns=array1)
    df.to_excel(writer, sheet_name=lista1[i], index=False)
#-----------------------------------
# df.to_excel(writer, sheet_name="Enero", index=False)
# df2.to_excel(writer, sheet_name="Febrero", index=False)
writer.save()
writer.close()

In [1]:
#EJERCICIO BIEN
import numpy as np
import pandas as pd
from seaborn import load_dataset

lista1=["enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre","octubre","noviembre","diciembre"]
lista2=[31,28,31,30,31,30,31,31,30,31,30,31]


writer = pd.ExcelWriter('calendario2023.xlsx') 
#-----------------------------------
for i in range(12): 
    array1 = np.arange(start=1, stop=lista2[i]+1) #1-31 #PRIMERO CREO EL ARRAY
    df = pd.DataFrame([array1], columns=array1, index=['dias'])
    df.to_excel(writer, sheet_name=lista1[i], index=False)
#-----------------------------------
writer.save()
writer.close()