In [14]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns


compra_01 = pd.Series({'Nombrep': 'Homer','Artículo': 'Rosquillas','Precio': 3.70})
compra_02 =  pd.Series({'Nombre': 'Barney','Artículo': 'Cerveza duff','Precio': 6.00})
compra_03 =  pd.Series({'Nombre': 'Lenny','Artículo': 'Leche','Precio': 4.50})

df = pd.DataFrame([compra_01, compra_02, compra_03], index=['Tienda 01', 'Tienda 02', 'Tienda 03'])

df.head()

          Nombrep      Artículo  Precio  Nombre
Tienda 01   Homer    Rosquillas     3.7     NaN
Tienda 02     NaN  Cerveza duff     6.0  Barney
Tienda 03     NaN         Leche     4.5   Lenny

In [16]:
df['Nombrep']

Tienda 01    Homer
Tienda 02      NaN
Tienda 03      NaN
Name: Nombrep, dtype: object